.SearchForm {
  display: flex;
  flex-direction: column;
}

.SearchForm > input {
  height: 50px;
  padding: 0 20px;
  font-size: 35px;
}

.SearchForm > .ButtonBar {
  display: flex;
}

.SearchForm > .ButtonBar > button {
  margin-left: auto;
  margin-top: -53px;
  background-color: rgb(204, 241, 255);
}

.SearchForm .error {
  background-color: pink;
  border: solid 1px red;
  color: maroon;
  margin: 1rem;
  padding: 1rem;
}

.SummonerInfo {
  margin-top: -10px;
  padding: 20px;
}

.MatchHistory {
  margin-top: 15px;
}
